/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

div.custom_meta {
  font-size: $type-size-6;
}

p.page__date {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

p.custom_download {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
